theme = "gruvbox"
# theme = "tokyonight_moon"

[keys.insert]
C-backspace = "delete_word_backward"
"C-;" = [
  "goto_line_end",
  ":append-output echo ;",
  "collapse_selection",
  "keep_primary_selection",
]
"C-," = [
  "goto_line_end",
  ":append-output echo ,",
  "collapse_selection",
  "keep_primary_selection",
]

[keys.normal]
D = "kill_to_line_end"
C-backspace = "delete_word_backward"
C-p = "jump_backward"
C-n = "jump_forward"
S-l = "jump_view_right"
S-h = "jump_view_left"
S-k = "jump_view_up"
S-j = "jump_view_down"
X = ["extend_line_up", "extend_to_line_bounds"]
"C-;" = [
  "goto_line_end",
  ":append-output echo ;",
  "collapse_selection",
  "keep_primary_selection",
]
"C-," = [
  "goto_line_end",
  ":append-output echo ,",
  "collapse_selection",
  "keep_primary_selection",
]

[keys.select]
X = ["extend_line_up", "extend_to_line_bounds"]

[keys.normal.space]
# i = ":toggle lsp.display-inlay-hints"
f = "file_picker_in_current_directory"
F = "file_picker"
q = ":bc"
x = ":q"
u = "switch_to_uppercase"
l = "switch_to_lowercase"
t = ":lsp-restart"

[keys.normal.space.i]
i = ":toggle lsp.display-inlay-hints"
c = ":toggle inline-diagnostics.cursor-line hint disable"
e = ":toggle end-of-line-diagnostics hint disable"
o = ":toggle inline-diagnostics.other-lines hint disable"

[keys.normal.g]
D = ["vsplit", "goto_definition"]
# h = ["vsplit", "goto_definition", "jump_view_right", ":q", "jump_view_left"]
h = ["vsplit", "goto_definition", "jump_view_right", ":q"]
s = ["goto_line_start", "goto_first_nonwhitespace"]

[editor]
line-number = "relative"
bufferline = "always"
color-modes = true
popup-border = "all"
cursorline = true
true-color = true

[editor.auto-pairs]
'(' = ')'
'{' = '}'
'[' = ']'
'"' = '"'
'`' = '`'
'<' = '>'

[editor.cursor-shape]
insert = "bar"
normal = "block"
select = "underline"

[editor.file-picker]
hidden = false
git-ignore = true

[editor.indent-guides]
render = true
character = "╎" # Some characters that work well: "▏", "┆", "┊", "⸽"
skip-levels = 1

[editor.statusline]
left = ["mode", "spinner", "spacer", "file-name"]
